
<form class="formGroup" class="form-inline">
    <div class="form-group">
        <label for="email">Email address:</label>
        <input type="email" placeholder="Votre adresse mail " class="form-control" id="email">
      </div>
      <div class="form-group">
        <label for="email">Passeword</label>
        <input type="password" placeholder="Votre mot de passe " class="form-control" id="passe">
      </div>

    <input type="submit" value="connecter" disabled="" class="btn-lg btn-success">
    <input type="button" value="annuler" class="btn-lg btn-warning">

</form>



